/* @media only screen and (min-width: 1176) { */
/* .footer{
    border-top: 1rem solid #f3cfde;
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #cfd3f0;
    height: 75vh;

} */
.footer{
    border-top: 1rem solid #f3cfde;
    width: 100%;
    background-color: #cfd3f0;
}
.main-footer{
    padding-top: 1rem;
    border: 3px solid green;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
.contact-col{
    border: 3px solid red;
}
iframe{
    width: 50vw;
    height: 100%;
    border: none;
}
.contact-us{
    display: flex;
    border: 3px solid yellowgreen;
    align-items: center;
}

/* .contact-us {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
} */
span{
    font-family: "Noto Sans JP";
}
span p{
    font-size: large;
}

/* .contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
} */

/* .contact-col div {
    display: flex;
    align-items: center;
} */

.contact-col div .fas,
.contact-col div .far {
    font-size: 45px;
    color: #d0f3e9;
    text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black; 
}

.contact-col div p {
    padding: 0;
    color: black;
    font-size: 20px;
}

.contact-col div h5 {
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
    
    font-weight: 900;
}

/* .cleideo{
    margin-top: 3.5rem;
    margin-right: 5rem;
    position: absolute;
    right: 0;
} */

/* .icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align:center; 
} */
/* .icons .fab{
    margin-left: 5rem;
    margin-right: 5rem;
    color: #f3cfde;
    text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
    
    font-size: 2.5rem;
    cursor: pointer;
    
} */
/* .icons__facebook{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */
/* .icons__instagram{
    display: inline-block;
    text-align: center;
} */
/* .politicas{
    align-items: center;
    text-align: center;
} */
/* .politica-container{
    display: inline;
    width: 33%;
    margin: 0% 5%;
} */

/* Emplear si falla el flex en footer */

/* @media only screen and (max-width: 1175px) {
    .footer{
        border: 2px solid red;
        height: auto;
        display: flex;
    }
    .contact-col{
        border: 3px solid green;
        display: flex;
    }
    .cleideo{
        align-self: center;
    }
} */